# Web server and API framework
Flask==3.0.3

# Python SQL toolkit and Object Relational Mapper
SQLAlchemy==2.0.31

# Database migration toolkit
alembic==1.13.2

# PostgreSQL adapter for Python
psycopg2==2.9.9